.background{
    /* background-color: greenyellow; */
    width: 25%;
    max-width: 300px;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.image{
    width:  100%;

    /* padding-top: 100% */
}

.itemlist_bg{
    height: 55px;
    font-weight: 700;
    font-size: 21px;
    /* font-family: "Times New Roman", Times, serif; */
    font: 1em Roboto Condensed;
    padding-left: 15%;
    align-items: center;
    display: flex;
    color: #6ca858;
}